#resultDiv {
  min-width: 400px;
  max-width: 35%;
  max-height: 570px;
  font-size: 14px;
  padding: 15px;
  display: none;
  overflow-y: auto;
  overflow-x: hidden;
}

.progress-container {
  height: 4px;
  background: #162b36;
  max-width: 100%;
  margin-top: 3px;
  margin-bottom: 2px;
}

.progress-bar {
  height: 8px;
  background: #162b36;
  width: 0%;
}

.content {
  margin: 15px auto 0 auto;
}

.reportHead {
  font-family: Roboto;
  font-weight: Bold;
  font-size: 20px;
}

.subHead {
  font-family: Roboto;
  font-weight: Bolder;
  font-size: 14px;
}
